:root {
  //shared colors
  --blue: #0079ff;

  //dark mode colors
  --white: #ffffff;
  --off-black: #141d2f;
  --off-blue: #1e2a47;

  //light mode colors
  --gray: #697c9a;
  --blue-gray: #4b6a9b;
  --light-black: #2b3442;
  --white-gray: #f6f8ff;
  --off-white: #fefefe;
}
