@use "../util" as *;

.container {
  padding: 0 rem(24);
  max-width: rem(573);
  margin: 0 auto;
  width: 100%;

  @include breakpoint(medium) {
    padding: 0;
  }

  @include breakpoint(large) {
    max-width: rem(730);
    transform: translate(0, 0);
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: rem(30) 0;
  min-height: 100vh;
}

//light mode styles
body {
  background-color: var(--bkg1);
}

.search,
.user {
  background-color: var(--bkg2);
  border-radius: rem(15);
  box-shadow: var(--shadow);
  margin-bottom: rem(15);
}

body,
h1,
h2,
h4,
p {
  color: var(--text);
}
h3,
h3,
a {
  color: var(--blue);
}

svg,
svg path {
  transition: fill 0.2s ease;
}

a:hover {
  text-decoration: underline;
}
